@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography h1 {
  margin: 0;
}

.mat-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}
